:host {
  display: block;
  width: 100%;
}

.doughnut-chart__canvas-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  canvas {
    width: 100% !important;
    display: block;
  }
}
